[submodule "payment-server"]
  path = payment-server
  url = https://github.com/nekohack/payment-server
  branch = main
[submodule "normalize.css"]
  path = normalize.css
  url = https://github.com/jiyuujin/normalize.css
  branch = dev
