[submodule "payment-lambda"]
  path = payment-lambda
  url = https://github.com/jiyuujin/payment-lambda
  branch = master
[submodule "normalize.css"]
  path = normalize.css
  url = https://github.com/jiyuujin/normalize.css
  branch = dev
