.feed-card {
  img {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 84px;
    height: 84px;
    margin: 8px;
    font-size: 42px;
    border: 1px #e2e2e2 solid;
    border-radius: 12px;
  }

  &__item {
    &-title {
      display: -webkit-box !important;
      max-height: 4.55em;
      overflow: hidden;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.5;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }

    &-date {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      max-width: 100%;
      margin-top: 0.5rem;
      font-size: 0.9em;
    }

    &-tags {
      max-width: 100%;
      margin-top: 0.5rem;
      font-size: 0.9em;

      .tag {
        display: inline-block;
        padding: 0 7px;
        margin-right: 4px;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        color: #8b949e;
        background-color: transparent;
        border: 1px solid #30363d;
        border-radius: 2em;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .feed-card {
    &__item {
      &-tags {
        .tag {
          color: #f3f3f3;
          border: 1px solid #dedede;
        }
      }
    }
  }
}
