.cover {
  position: relative;
  width: 100%;
  height: 50vh;
  vertical-align: middle;

  &-title {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    width: 100%;
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
    line-height: 48px;
    text-align: center;
  }

  &-date {
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    font-size: 1.44rem;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
  }

  &-tags {
    position: absolute;
    top: calc(90% - 25px);
    left: 0;
    width: 100%;
    font-size: 1.08rem;
    font-weight: bold;
    line-height: 16px;
    text-align: center;

    .tag {
      display: inline-block;
      padding: 0 7px;
      margin-right: 4px;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      color: #8b949e;
      background-color: transparent;
      border: 1px solid #30363d;
      border-radius: 2em;
    }
  }

  img {
    width: 100%;
    height: 50vh;
    vertical-align: middle;
    filter: brightness(60%);
    background-position: center;
    background-size: cover;
    object-fit: cover;
  }
}

.feeds {
  a {
    color: #000;
  }
}

.read-more {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2% 0 2% 0;
    overflow: hidden;
    text-align: left;
    vertical-align: middle;

    &::before {
      position: absolute;
      top: 0;
      left: -100%;
      z-index: -1;
      width: 100%;
      height: 100%;
      content: '';
      background-color: #ecf0f1;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    &:hover,
    &:focus {
      color: #42b883;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .cover {
    &-tags {
      .tag {
        color: #f3f3f3;
        border: 1px solid #dedede;
      }
    }
  }

  .feeds {
    a {
      color: #fff;
    }
  }
}

@media (max-width: 600px) {
  .cover {
    position: static;
    height: 100%;

    &-title {
      position: relative;
      top: 0;
      left: 0;
      width: 88%;
      margin: 2% 6% 2% 6%;
      font-size: 1.6rem;
      text-align: left;
    }

    &-date {
      position: relative;
      top: 0;
      left: 0;
      width: 88%;
      margin: 2% 6% 2% 6%;
      font-size: 1.2rem;
      text-align: left;
    }

    &-tags {
      position: relative;
      top: 0;
      left: 0;
      width: 88%;
      margin: 2% 6% 2% 6%;
      font-size: 1.08rem;
      text-align: left;
    }
  }
}
