.calendar-header {
  position: relative;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  vertical-align: middle;
  background-color: #56c501;

  h1 {
    margin: 0;
    font-size: 18px;
    color: #e2e2e2;
  }

  p {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    color: #51565d;
  }
}

.calendar {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: repeat(7, minmax(20px, 1fr));
  grid-auto-rows: 120px;
  width: 100%;
  overflow: auto;
  border-left: 1px solid rgba(166, 168, 179, 0.12);
}

.weekday {
  font-size: 12px;
  font-weight: 500;
  line-height: 50px;
  color: #99a1a7;
  text-align: center;
  text-transform: uppercase;
  border-right: 1px solid rgba(166, 168, 179, 0.12);
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
}

.day {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 14px 20px;
  font-size: 14px;
  color: #98a0a6;
  text-align: center;
  letter-spacing: 1px;
  vertical-align: middle;
  border-right: 1px solid rgba(166, 168, 179, 0.12);
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);

  .date {
    width: 100%;
  }

  img {
    width: 40px;
    border-radius: 40px;
  }
}

.day--existed {
  opacity: 1;
}

.day--not-existed {
  opacity: 0.4;
}

.day--disabled {
  cursor: not-allowed;
}

@media screen and (prefers-reduced-motion: reduce) {
  .tooltip {
    position: absolute;
    bottom: -18%;
    left: 50%;
    z-index: 1;
    width: 120px;
    margin-left: -60px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: none;
  }
}

.tooltip {
  position: absolute;
  bottom: -18%;
  left: 50%;
  z-index: 1;
  width: 120px;
  margin-left: -60px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms;
}

.tooltip > .text {
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  color: #fff;
  background-color: black;
  border-radius: 6px;
}

.tooltip > .text::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  content: ' ';
  border-color: black transparent transparent transparent;
  border-style: solid;
  border-width: 5px;
}

.day:hover > .tooltip,
.day:focus > .tooltip {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 500px) {
  .calendar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .weekday {
    display: none;
  }

  .day {
    width: 100%;
  }

  .day--disabled {
    display: none;
  }
}

/* @media (prefers-color-scheme: dark) {
  .day--disabled {
    background-color: #303030;
  }
} */
