/* stylelint-disable no-descending-specificity */

a {
  color: #c71582;
  text-decoration: none;
}

.validate {
  margin: 8px auto;
  color: #c71582;
  text-align: center;
}

.main {
  margin: 0 auto;
}

.message {
  position: relative;
  padding: 1.5rem;
  padding-top: 0.75rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  color: #000;
  background-color: #f7fafc;
  border-color: #718096;
  border-style: solid;
  border-width: 0;
  border-left-width: 4px;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;

  ::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-top: -0.75rem;
    margin-left: -0.75rem;
    font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    line-height: 1.25;
    color: #fff;
    text-align: center;
    content: '!';
    background-color: #718096;
    border-radius: 9999px;
  }

  .is-primary {
    border: 4px solid #0078cc;

    ::before {
      background-color: #0078cc;
    }
  }

  .is-info {
    border: 4px solid #3fa1aa;

    ::before {
      background-color: #3fa1aa;
    }
  }

  .is-success {
    border: 4px solid #56c501;

    ::before {
      background-color: #56c501;
    }
  }

  .is-warning {
    border: 4px solid #c1c529;

    ::before {
      background-color: #c1c529;
    }
  }

  .is-danger {
    border: 4px solid #ff4500;

    ::before {
      background-color: #ff4500;
    }
  }
}

.latest-article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 52%;
  margin: 2% 24% 2% 24%;
  overflow: hidden;
  color: #000;
  text-align: left;

  &-title {
    width: 100%;
    font-size: 1.08rem;
    color: #000;
  }

  &-description {
    font-size: 0.92rem;
    color: #303030;
  }

  a {
    color: #000;
  }

  .items {
    width: 46%;
    padding: 4px;
    margin: 0 2%;
    overflow: hidden;

    a {
      margin: 0;
    }

    .items-title {
      font-size: 0.96rem;
      color: #000;
    }
  }
}

.tag-text {
  width: 100%;
  padding: 4px 12px 8px;

  .tag {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    margin: 0.25rem;
    color: #fff;
    background-color: #718096;
    border-color: #2e3439;
    border-width: 1px;
    border-radius: 9999px;

    a {
      color: #fff;
    }
  }
}

.cover {
  position: relative;
  width: 100%;
  height: 50vh;
  vertical-align: middle;

  &-title {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    width: 100%;
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
    line-height: 48px;
    color: #000;
    text-align: center;
  }

  &-date {
    position: absolute;
    top: calc(75% + 25px);
    left: 0;
    width: 100%;
    font-size: 1.44rem;
    font-weight: bold;
    line-height: 24px;
    color: #000;
    text-align: center;
  }

  img {
    width: 100%;
    height: 50vh;
    vertical-align: middle;
    filter: brightness(60%);
    background-position: center;
    background-size: cover;
    object-fit: cover;
  }
}

.article {
  width: 52%;
  margin: 2% 24% 2% 24%;
  overflow: hidden;
  color: #000;
  text-align: center;

  p {
    padding-right: 16px;
    font-size: 0.96rem;
    color: #35495e;
    text-align: left;
  }

  .post-detail {
    color: #000;
    text-align: center;
    word-break: break-word;

    h2 {
      padding: 0.24em 0.48em;
      margin: 8px 0;
      font-size: 1.44rem;
      color: #35495e;
      text-align: left;
      border-left: solid 5px #42b883;
    }

    h3 {
      padding: 0.24em 0.48em;
      margin: 8px 0;
      font-size: 1.08rem;
      color: #35495e;
      text-align: left;
      border-left: solid 5px #35495e;
    }

    h4 {
      padding: 0.24em 0.48em;
      margin: 8px 0;
      font-size: 0.96rem;
      color: #35495e;
      text-align: left;
      border-left: solid 5px #ccc;
    }

    p {
      padding: 0.16em 0.24em;
      line-height: 2;
      text-align: left;
    }

    ol {
      padding: 0 0 0 2em;
      margin: 1em 0;
      color: #35495e;
      text-align: left;
    }

    ul {
      padding: 0 0 0 2em;
      margin: 1em 0;
      color: #35495e;
      text-align: left;
      list-style: disc;
    }

    dd {
      margin: 0 0 0 2em;
    }

    table {
      margin: 10px 0 15px 0;
      border-collapse: collapse;
    }

    td,
    th {
      padding: 3px 10px;
      border: 2px solid #ccb8a3;
    }

    th {
      padding: 5px 10px;
    }

    blockquote {
      position: relative;
      display: table;
      width: calc(100% - 2rem);
      padding: 2.3rem 2.3rem;
      margin: 1rem;
      font-size: 1rem;
      font-style: oblique;
      background-color: #f0f0f0;
      border: dotted 1px #ececec;
      border-radius: 4px;

      &::before {
        position: absolute;
        top: 1.5rem;
        left: 4px;
        font-family: "Georgia", "Times", "Times New Roman", serif;
        font-size: 56px;
        color: #d0d0d0;
        content: "\0201C";
      }

      &::after {
        position: absolute;
        right: 12px;
        bottom: -1rem;
        font-family: "Georgia", "Times", "Times New Roman", serif;
        font-size: 56px;
        color: #d0d0d0;
        content: "\0201D";
      }

      .origin {
        display: table-cell;
        width: 100%;
        padding: 6px 4px 0 6px;
        margin: 1rem 0 0;
        font-size: 0.857rem;
        font-style: normal;
        color: #909090;
        text-align: right;
        border-top: dotted 1px #e0e0e0;

        &::before {
          margin-right: 10px;
          font-weight: 100;
          color: #ddd;
          letter-spacing: -2px;
          content: "\02500\02500";
        }

        :link,
        :visited {
          color: #999;
          text-decoration: none;
        }

        :hover,
        :active,
        :focus {
          color: #07c;
        }
      }
    }

    pre {
      padding: 0.15em 0.25em;
      text-align: left;
    }

    img {
      width: 80%;
      margin: 0 10%;
    }

    .scrap-item {
      display: flex;
      flex-wrap: wrap;

      &_left {
        flex-direction: row;
      }

      .time {
        position: relative;
        margin: 0 20px 20px;
        font-size: 8px;
      }

      .balloon {
        position: relative;
        display: inline-block;
        max-width: 400px;
        padding: 8px 15px;
        margin: 10px 20px 20px;
        text-align: left;
        background: #f0f0f0;
        border-radius: 15px;

        ::after {
          position: absolute;
          top: 0;
          left: -10px;
          content: '';
          border: 14px solid transparent;
          border-top-color: #f0f0f0;
        }
      }

      .icon-box {
        width: 40px;
        height: 40px;
        overflow: hidden;
        background: #f0f0f0;
        border: 2px solid #ddd;
        border-radius: 50%;
      }
    }
  }
}

.ad {
  width: 52%;
  height: 120px;
  margin: 2% 24% 2% 24%;
  overflow: hidden;
  color: #000;
  text-align: center;
}

.social-menu {
  margin: 2% 24% 2% 24%;
  overflow: hidden;
  color: #000;
  text-align: center;

  img {
    width: 36px;
    height: 36px;
    margin: 8px;
    cursor: pointer;
  }

  &-vertical {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    left: 2%;
  }

  &-horizontal {
    display: inline;
  }
}

.buy-me-a-coffee {
  margin: 2% 24% 2% 24%;
  overflow: hidden;
  color: #000;
  text-align: center;
}

.contact,
.scrap {
  margin: 2% 24% 2% 24%;
  overflow: hidden;
  color: #000;
  text-align: center;
}

.top,
.latest-article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 2% 0 2% 0;
  overflow: hidden;
  color: #000;
  text-align: left;

  &-title {
    width: 100%;
    font-size: 1.08rem;
    color: #000;
  }

  &-description {
    font-size: 0.92rem;
    color: #303030;
  }

  a {
    color: #000;
  }

  .items {
    width: 46%;
    padding: 4px;
    margin: 0 2%;
    overflow: hidden;

    a {
      margin: 0;
    }

    .items-title {
      font-size: 0.96rem;
      color: #000;
    }
  }

  .read-more {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;

      &::before {
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -1;
        width: 100%;
        height: 100%;
        content: '';
        background-color: #ecf0f1;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }

      &:hover,
      &:focus {
        color: #42b883;
      }
    }
  }
}

.blog-card {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  padding: 15px 0;

  .reaction-img,
  img {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 84px;
    height: 84px;
    margin: 8px;
    font-size: 42px;
    border: 1px #e2e2e2 solid;
    border-radius: 12px;
  }

  &__item {
    &-title {
      display: -webkit-box !important;
      max-height: 4.55em;
      overflow: hidden;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.5;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }

    &-date {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      max-width: 100%;
      margin-top: 0.5rem;
      font-size: 0.9em;
    }
  }
}

.privacy-policy,
.contact,
.scrap {
  width: 52%;
  margin: 2% 24% 2% 24%;
  font-size: 0.8rem;

  &-title {
    padding: 4px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    text-align: center;
    letter-spacing: 0.05em;
  }

  p {
    padding: 15px 20px;
    margin: 0;
    text-align: left;
  }
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 240px;
  padding: 20px 0;
  margin-top: 24px;
  color: #000;
  background-color: #fff;
}

@media (max-width: 600px) {
  .main {
    width: 100%;
    padding: 0 4px;
  }

  .card {
    margin: 20px 0;
  }

  .cover {
    &-title {
      font-size: 2rem;
    }
  }

  .article {
    width: 88%;
    margin: 2% 6% 2% 6%;
    overflow: hidden;
    text-align: center;
  }

  .post-detail {
    img {
      width: 84%;
      margin: 0 8%;
    }
  }

  .top,
  .latest-article {
    width: 88%;
    padding-top: 16px;
    margin: 2% 6% 2% 6%;

    .items {
      width: 96%;
    }
  }

  .blog-card {
    &__item {
      &-title {
        width: 200px;
      }
    }
  }

  .privacy-policy,
  .contact,
  .scrap {
    width: 98%;
    margin: 2% 1% 2% 1%;
  }

  footer {
    min-height: 0;
    margin-top: 0;
  }
}

@media (max-width: 960px) {
  .main {
    max-width: 960px;
  }
}

.light-theme {
  color: #000;
  background: #fff;
}

.dark-theme {
  color: #fff;
  background: #303030;

  a {
    color: #42b883;
  }

  .validate {
    color: #42b883;
  }

  .message {
    color: #f7fafc;
    background-color: #0b0d2e;
  }

  .tag-text {
    .tag {
      color: #718096;
      background-color: #fff;
      border-color: #a0aec0;

      a {
        color: #718096;
      }
    }
  }

  .cover {
    &-title {
      color: #fff;
    }

    &-date {
      color: #fff;
    }
  }

  .article {
    p {
      color: #fff;
    }

    .post-detail {
      color: #fff;

      h2,
      h3,
      h4,
      ol,
      ul {
        color: #fff;
      }
    }

    .scrap-item {
      .balloon {
        color: #fefefe;
        background-color: #51565d;

        ::after {
          border-top-color: #51565d;
        }
      }

      .icon-box {
        background-color: #51565d;
      }
    }
  }

  .top,
  .latest-article {
    color: #fff;

    &-title {
      color: #fff;
    }

    &-description {
      color: #fefefe;
    }

    a {
      color: #fff;
    }

    .items {
      .items-title {
        color: #fff;
      }
    }

    .blog-card {
      color: #fff;

      img {
        border: 1px #2e3439 solid;
      }

      &__item {
        &-title {
          color: #fff;
        }
      }
    }
  }

  .privacy-policy,
  .contact,
  .scrap {
    &-title {
      color: #fff;
    }
  }

  footer {
    color: #fff;
    background-color: #303030;
  }

  .menu {
    a {
      color: #fff;
      background-color: #303030;
    }
  }

  .day--disabled {
    background-color: #303030;
  }
}

/* @media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background-color: #303030;
  }

  a {
    color: #42b883;
  }

  .validate {
    color: #42b883;
  }

  .message {
    color: #f7fafc;
    background-color: #0b0d2e;
  }

  .top {
    .blog-card {
      color: #fff;

      &-title {
        color: #fff;
      }

      &-description {
        color: #fefefe;
      }
    }
  }

  .tag-text {
    .tag {
      background-color: #fff;
      color: #718096;
      border-color: #a0aec0;

      a {
        color: #718096;
      }
    }
  }

  .cover {
    &-title {
      color: #fff;
    }

    &-date {
      color: #fff;
    }
  }

  .article {
    p {
      color: #fff;
    }

    .post-detail {
      color: #fff;

      h2,
      h3,
      h4,
      ol,
      ul {
        color: #fff;
      }
    }
  }

  .latest-article {
    color: #fff;

    &-title {
      color: #fff;
    }

    &-description {
      color: #fefefe;
    }

    a {
      color: #fff;
    }

    .items {
      .items-title {
        color: #fff;
      }
    }
  }

  .privacy-policy,
  .contact,
  .scrap {
    &-title {
      color: #fff;
    }
  }

  footer {
    color: #fff;
    background-color: #303030;
  }
} */
