/* stylelint-disable no-descending-specificity */

@use 'node_modules/@nekohack/normalize.css/dist/index.css';

@import 'ad';
@import 'article';
@import 'calendar';
@import 'card';
@import 'contribute';
@import 'footer';
//@import 'form';
@import 'header';
@import 'layout';
//@import 'privacy-policy';
@import 'social';
@import 'switch';
@import 'tag';

.light-theme {
  color: #000;
  background: #fff;
}

.dark-theme {
  color: #fff;
  background: #303030;

  a {
    color: #42b883;
  }
}
