.message {
  position: relative;
  padding: 1.5rem;
  padding-top: 0.75rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  color: #000;
  background-color: #f7fafc;
  border-color: #718096;
  border-style: solid;
  border-width: 0;
  border-left-width: 4px;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;

  ::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-top: -0.75rem;
    margin-left: -0.75rem;
    font-family: Dosis, 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    line-height: 1.25;
    color: #fff;
    text-align: center;
    content: '!';
    background-color: #718096;
    border-radius: 9999px;
  }

  .is-primary {
    border: 4px solid #0078cc;

    ::before {
      background-color: #0078cc;
    }
  }

  .is-info {
    border: 4px solid #3fa1aa;

    ::before {
      background-color: #3fa1aa;
    }
  }

  .is-success {
    border: 4px solid #56c501;

    ::before {
      background-color: #56c501;
    }
  }

  .is-warning {
    border: 4px solid #c1c529;

    ::before {
      background-color: #c1c529;
    }
  }

  .is-danger {
    border: 4px solid #ff4500;

    ::before {
      background-color: #ff4500;
    }
  }
}

.custom-link {
  line-height: 1.8;
  color: #0d6ba3 !important;
  text-decoration: none;

  &:hover {
    color: #303030 !important;
  }
}

@media (prefers-color-scheme: dark) {
  .message {
    color: #f7fafc;
    background-color: #0b0d2e;
  }

  .custom-link {
    color: #74bfea !important;

    &:hover {
      color: #fefefe !important;
    }
  }
}
