.alert-block {
  padding: 0.5rem 1.5rem;
  margin: 1rem 0;
  text-align: left;
  background-color: #f3f5f7;
  border-left-style: solid;
  border-left-width: 0.5rem;
}

.alert-block a {
  color: #718096;
}

@media (prefers-color-scheme: dark) {
  .alert-block {
    background-color: #626262;
  }

  .alert-block a {
    color: #acc3e5;
  }
}
