.stripe {
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2% 0;
    overflow: hidden;
    text-align: left;
    vertical-align: middle;

    &::before {
      position: absolute;
      top: 0;
      left: -100%;
      z-index: -1;
      width: 100%;
      height: 100%;
      content: '';
      transition: all 0.3s ease-in-out;
    }

    &:hover,
    &:focus {
      color: #42b883;
    }
  }

  svg {
    width: 8em;
    height: 4em;
  }
}
