.alert-block {
  padding: 0.5rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
  background-color: #f3f5f7;
  text-align: left;
}

.alert-block_normal {
  border-color: #318a62;
}

.alert-block_warning {
  border-color: #b29400;
}

.alert-block_error {
  border-color: #c00;
}

@media (prefers-color-scheme: dark) {
  .alert-block {
    background-color: #626262;
  }

  .alert-block a {
    color: #718096;
  }
}
