.privacy-policy {
  width: 52%;
  margin: 2% 24%;
  font-size: 0.8rem;

  &-title {
    padding: 4px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    text-align: center;
    letter-spacing: 0.05em;
  }

  p {
    padding: 15px 20px;
    margin: 0;
    text-align: left;
  }
}

@media (prefers-color-scheme: dark) {
  .privacy-policy {
    &-title {
      color: #fff;
    }
  }
}

@media (max-width: 600px) {
  .privacy-policy {
    width: 98%;
    margin: 2% 1%;
  }
}
