.social-menu {
  text-align: center;

  button {
    background: transparent;
    border: 0;
  }

  img {
    width: 36px;
    height: 36px;
    margin: 8px;
    cursor: pointer;
  }

  &-vertical {
    position: sticky;
    top: 60px;
    left: 2%;
  }

  &-horizontal {
    display: inline;
  }
}
