.tags {
  max-width: 100%;
  margin-top: 0.5rem;
  font-size: 0.9em;

  .tag {
    display: inline-block;
    padding: 0 7px;
    margin-right: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #2c2e2f;
    background-color: transparent;
    border: 1px solid #30363d;
    border-radius: 2em;

    a {
      color: #2c2e2f;
      text-decoration: none;
    }
  }
}

.scrap-tag {
  color: #fff !important;
  background-color: #6e00ff !important;
  border-color: #6e00ff !important;
}

@media (prefers-color-scheme: dark) {
  .tags {
    .tag {
      color: #fefefe;
      border: 1px solid #dedede;

      a {
        color: #fefefe;
      }
    }
  }
}
